section#RequestFormhtml {

    background-color: white;

    .head-image {
        background-position: center;
        height: 501px;
        background-size: cover;
        background-image: url('/assets/imgs/new_promo-wall-paper.png');
    }
    .wrapper {
        padding: 90px 0px;
    }

}