@import '../_general.scss';

.container {
    width: 70%;
    margin: auto;
}

.wrap {
    padding: 80px 0px;
}

.about {
    p {
        padding-top: 10px;
        line-height: 29px;
        font-size: 18px;
        width: 94%;
    }
    hr {
        text-align: left;
        margin-left: 0;
        width: 12%;
        border-bottom: 5px solid $newPrimaryColor;
        border-top: 1px solid $newPrimaryColor;
    }
}

.values {
    margin-top: 70px;

    hr {
        text-align: left;
        margin-left: 0;
        width: 12%;
        border-bottom: 5px solid $newPrimaryColor;
        border-top: 1px solid $newPrimaryColor;
    }
    .boxescontainer {
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
    }
    .box {
        background-color: #f9f9f9;
        padding: 25px;
        margin-right: 35px;
        width: 30%;
        height: 350px;
    }
}