section#contact form .form-control {
    border-bottom: 1px solid black;
}

h2.mb-5.pt-3 {
    color: #083d53 !important;
}

.workinghours {
    text-align: center;
    padding: 100px 0px;

    p a {
        color:black;
        font-weight: 600;
    }

    div {
        padding: 25px 0px;

        h5 {
            color: #083d53 ;
        }
    }

    h5 {
        color: #083d53;
    }
}

h5 {
    color: #083d53 !important;
    margin-bottom: 15px;
}

section#contact form .form-control {
    color: black;
}