@import '../_general.scss';

section#contact form .form-control {
    border-bottom: 1px solid black;
}
h2.mb-5.pt-3 {
    color: black;
}

.workinghours {
    text-align: center;
    padding: 100px 0px;

    div {
        padding: 25px 0px;

        h5 {
            color: $newPrimaryColor ;
        }
    }

    h5 {
        color: $newPrimaryColor;
    }
}

h5 {
    color: $newPrimaryColor !important;
    margin-bottom: 15px;
}

section#contact form .form-control {
    color: black;
}