@import '_fonts.scss';

@import '~bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";

@import '_mixins.scss';
@import '_variables.scss';

@import '_rtl.scss';


body {
	//background: inherit;
}

.btn {
	border: none;
	border-radius: 0.5rem;
}

.square:before {
	content: "";
	display: block;
	padding-top: 100%;
	/* initial ratio of 1:1*/
}


.contained-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

header {
	.navbar {
		.navbar-toggler {
			border: none;
		}
	}

	.nav-pills {
		.nav-link {
			color: var(--new-blue-color);

			&.active {
				color: inherit;
				background-color: transparent;
				font-weight: bolder;
			}
		}
	}
}

section#hero {
	height: 100vh;
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		Position: absolute;
		Bottom: 0;
		Width: 100%;
		Height: 100px;
		background: linear-gradient(to top, #f5f5f5, transparent);
		z-index: 100000;
	}

	.layer {
		background-size: cover;
		background-position: top;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		background-repeat: no-repeat;
	}

	.layer_1 {
		z-index: 1;
	}

	.layer_2 {
		z-index: 2;
	}

	.layer_3 {
		z-index: 3;
		width: 200%;
		background-size: cover;
		animation: movingclouds 25s linear infinite;
		-webkit-animation: movingclouds 25s linear infinite;
		-moz-animation: movingclouds 25s linear infinite;
		-o-animation: movingclouds 25s linear infinite;
	}

	.layer_4 {
		z-index: 4;
	}

	.layer_5 {
		z-index: 5;
	}

	.animate__animated.animate__shakeX {
		--animate-duration: 20s;
	}

}


section#services {
	.card {
		background-color: var(--new-blue-color);
		color: white;
		border: none;
		border-radius: 1rem;

		&:hover {
			background-color: lighten($new-blue-color, 2%);
		}
	}

    .service{
        position: relative;

        .contained-image{
            object-fit: cover;
            filter:blur(3px);
        }

        .content {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: var(--new-blue-color);
            opacity:0.9;

            a{
                visibility: hidden;
            }
        }

        &:hover {
			.content {
				opacity: 0.75;
                a{
                    visibility:visible;
                }
			}

			transition: all .3s;
			z-index: 5;
		}
    }




}

section#counters {
	.number {
		font-size: 4rem;
	}

	h3 {
		font-size: 1.5rem;
	}
}

section#works {
	.work {
		position: relative;

		.content {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: var(--new-blue-color);
			opacity: 0;
		}

		&:hover {
			.content {
				opacity: 0.85;
			}

			transition: all .3s;
			transform: scale(1.1);
			z-index: 5;
		}

		&:nth-child(2n) .content {
			background-color: #874b2f;
		}

		&:nth-child(3n) .content {
			background-color: #525;
		}
	}
}

section#contact {
	form {

		input,
		textarea,
		select {
			border: none;
			border-radius: 0;
			border-bottom: 1px solid var(--form-gray-border);
			background: transparent;
		}
	}
}

section#partners{
    .box-that-would-animata {
        animation: 40s linear 0s infinite normal none running scroller;

        &.reverse{
            animation-direction: reverse;
        }

        .internal{
            height:150px;
            margin-right:32px;
            padding:5px;
            width:250px;
            color:black;
            background-color: white;
            border-radius: 0.5rem;
            border: 1px solid rgb(255, 255, 255);
            box-shadow: rgb(0 8 36 / 5%) 0px 8px 16px;

            img{
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
    }
}

article {
	.breadcrumb {
		.breadcrumb-item {
			a {
				text-decoration: none;
				color: var(--bs-body-color);
			}
		}
	}
}

table{
    max-width: 100%;
    min-width:70%;
    td, th{
        border: 1px solid grey;
        padding: 0.25rem;
    }
    tr:hover{
        background-color: rgba(0,0,0,0.05);
    }


    thead{
        background-color: rgba(0,0,0,0.1);
        font-weight: bold;
        tr{
            th{
                text-align:center;
                &:nth-child(even){
                    background-color: rgba(0,0,0,0.05);
                }
            }

        }
    }
    tbody{
        tr{
            &:nth-child(even){
                background-color: rgba(0,0,0,0.05);
            }
            td{

            }
        }
    }
}

@keyframes scroller{
    0% {
        transform: translateX(0);
      }
    100% {
        transform: translateX(calc(-1792px));
      }
}

@keyframes movingclouds {
	0% {
		margin-left: 0%;
	}

	100% {
		margin-left: -100%;
	}
}
