@import './_general.scss';

.mt-6,
.my-6 {
  margin-top: 5rem !important;
}

.mr-6,
.mx-6 {
  margin-right: 5rem !important;
}

.mb-6,
.my-6 {
  margin-bottom: 5rem !important;
}

.ml-6,
.mx-6 {
  margin-left: 5rem !important;
}


.btn{
  
  font-weight: 400 ;  
  font-size: 1rem;
  border: none;
  text-transform: uppercase;
  
  &+.btn{
    margin-left: 1rem;
  }
 
  &.btn-primary {
    margin-top: 2rem;
    background-color: $newPrimaryColor;
    color: white;
    
    &.inverted {
      background-color: #464838;
    }    
  }
}