section#whyus {
  .row{
    position:relative;
    > div{
      min-height:20vh;
    }
    > div:nth-child(odd){
      margin-bottom:20vh;
      text-align:right;
    }
    > div:nth-child(even){
      margin-top:20vh;
      text-align:left;
    }

    > div.line{
      margin:0;
      padding:0;
    }
  }

  .about-us-btn {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 15px;

    a {
      color: white
    }

    button {
      cursor: pointer;
      background: #083d53;
      color: white;
      font-size: 30px;
      border-radius: 5px;
      padding: 5px 54px;
      border: none;
    }
  }

  .line{
    position: absolute;
    height:100%;
    background-color:#94949455;
    width:0.25px;
    left:50%;
    transform: translate(50%);

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translate(-50%, 0);
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #083d53;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #083d53;
    }

  }

  .icon span {
    color: #CECECE;
    font-size: 4rem;
    font-weight: 700;
    line-height: 54px;
    vertical-align: middle;
  }

  h4 {
    color: #949494;
    font-size: 2rem;
    font-weight: 700;
  } 
}