section#contact {
    background-color: #374955;
    font-size: 14px;
    font-weight: 400;

    h2.mb-5.pt-3.home {
      color: white !important;
      
      small {
        color: #9AAEBB;
        font-size: 80%;
      }
    }

    ::placeholder {
      color: #bdbdbd;
    }

    form {
      .form-control {
        background: transparent;
        border: none;
        border-bottom: 1px solid #bdbdbd !important;
        font-size: 1.2rem;
        font-weight: 400;
        color: white;
        border-radius: 0;
      }

      button {
        color: #083d53;
        background-color: white;
      }
    }
  }

  