@import '../_general.scss';

footer {
    background-color: #313131;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.8;

    h6 {
      font-weight: 700;
      font-size: 16px;

      span {
        color: white;
      }
    }

    .social {
      font-size: 1.3em;
    }

    form .form-control {
      font-size: 1em;
    }
    
  }