

section#getstarted {
  min-height: 90vh;
    background-position: center bottom;
    background-size: auto 70%;
    background-repeat: no-repeat;
    

    .btn.btn-success {
      background-color: #083d53;
      color: white !important;
    }

    .btn.btn-danger {
      background-color: #DB4949;
    }
  }
