
section#instagram {
  .container{
    .row{
      min-height:50vh;
    }
  }
  
  .mobile {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 70%;
  }
  .text {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}