
section#instagram {
  .container{
    .row{
      min-height:80vh;
    }
  }
  
  .mobile {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75%;
  }
  .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}