section#services {
  font-size: 100%;
  color:white;



  .card {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #F0F4CD;
    background-position: center;
    background-size: cover;
    position: relative;
    border:0;
    background-color: #FFF;
    background-blend-mode: luminosity, normal;

    
    &::after{
      content: " ";
      background: rgb(122,122,122);
      background: -moz-linear-gradient(0deg, rgba(122,122,122,0.8) 30%, rgba(182,182,182,0.2) 80%);
      background: -webkit-linear-gradient(0deg, rgba(122,122,122,0.8) 30%, rgba(182,182,182,0.2) 80%);
      background: linear-gradient(0deg, rgba(122,122,122,0.8) 30%, rgba(182,182,182,0.2) 80%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a7a7a",endColorstr="#b6b6b6",GradientType=1);

      display:block;
      position: absolute;
      height:100%;
      width:100%;
      top:0;
      bottom:0;
      left:0;
      right:0;
      z-index:1;
    }
    
    .card-body{
      display:flex;
      justify-content: center;
      align-items: center;
      width:100%;
      z-index: 2;
      
      .card-text{
        width:100%;

        img {
          width: 50%;
          margin: 0 auto;
        }

        h4 {
          font-weight: 700;
          position: relative;
          margin: auto;
          display:block !important;
          width: 165px;
    
          &::after {
            content: " ";
            background-color: #083d53;
            display: block;
            position: absolute;
            bottom: -1rem;
            left: 0;
            right: 0;
            margin: 0 auto;
            height: 7px;
            width: 40%;
          }
        }

        p{
          font-size: 0.8rem;
          font-weight:400;
          margin:0;
        }
      }
    }

    &:hover {
      -moz-transform: translate(0, -12px);
      -ms-transform: translate(0, -12px);
      -o-transform: translate(0, -12px);
      -webkit-transform: translate(0, -12px);
      transform: translate(0, -12px);
      transition: all 300ms;
      transform: scale(1.1);
      z-index:5;

 
      &::after{
        background: #083d53;
        background: -moz-linear-gradient(0deg, rgba(8,61,83,0.5) 35%, rgba(8,61,83,0.5) 80%);
        background: -webkit-linear-gradient(0deg, rgba(8,61,83,0.5) 35%, rgba(8,61,83,0.5) 80%);
        background: linear-gradient(0deg, rgba(8,61,83,0.5) 35%, rgba(8,61,83,0.5) 80%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c5ff37",endColorstr="#c5ff37",GradientType=1);
      }
    }
  }

  .VueCarousel-wrapper{
    overflow: unset;
  }
  
  carousel {
    display: flex;
 }
}